# Dependências
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.log

# Diretório de build
/dist

# Arquivos de ambiente
.env

# Arquivos do editor
/.idea
*.swp
*.swo
*.swm
*.swn
*.bak
*.orig
*.old
*.suo
*.user
*.userosscache
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
.env